@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*, ::before
*, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#app {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: white;
    color: #2c3e50;
	scroll-behavior: none;
	justify-content: center;
	align-items: center;
	/* margin: 0px;
    padding: 0px; */
    /* text-align: center; */
  }

  #app main{
	background-color: white;
	scroll-behavior: none;
	justify-content: center;
	align-items: center;
  }
  #app button :hover{
	background-color: grey;
	cursor: pointer;
  }
  
  nav {
    padding: 30px;
	
   
  }
  .nav-link{
	padding: 2rem;
  }

  .nav-link {
	border-bottom: 1rem solid white;
	background-color: #c67432;
	
  }

  .navbar-nav :hover{
    background-color:white;
    border-radius: 1%
  }
  
  
  nav a {
    font-weight: normal;
    color: #2c3e50;
	background-color: #c67432;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
    text-align: center;
  }
  nav a.router-link-exact-active :hover{
	background-color:  #c67432;
  }

.container-fluid{
	justify-content: center;
	align-items: center;
	background-color: #c67432;
	margin-bottom: 0px;
	padding: 0px;

} 
.navbar-toggler-icon{
	justify-content: center;
	align-items: center;
}

/* .navbar-toggler-icon :hover{
    background-color:white;
    border-radius: 10%
  } */
  

@media screen and (width < 360){
	body{
		justify-content: center;
	    align-items: center;
	}
	
}