*,
*, ::before
*, ::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


#app {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #f8f8f8;
    color: #2c3e50;
	margin: 0px;
    padding: 0px;
    /* text-align: center; */
  }
  
  nav {
    padding: 30px;
   
  }
  .nav-link{
	padding: 2rem;
  }

  .nav-link {
	background-color: lightblue;
	border-bottom: 1rem solid white;
	
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
    text-align: center;
  }
  nav a.router-link-exact-active :hover{
	background-color: white;
  }